/*CSS file*/




input{


    width: 430px;
	margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;

}

#main-wrapper{
	
	border-radius : 10px;
	background-color: white;
	border: 3px solid #f1f1f1;
	width: 500px;
	margin: 0 auto; 

	

	
}
.myform{

	border-radius : 10px;
	background-color: rgba(0,0,0,0.8);
	border: 3px solid #f1f1f1;
	width: 500px;
	margin: 0 auto; 

	
}

.inner_container{
	width:450px;
	margin:0 auto;
}
.login_btn {
    background-color: #4CAF50;
    color: rgba(0,0,0,0.8);
    margin-left: 10px;
	margin-top:10px;
    padding:10px;
    width: 60%;
	font-size:18px;
	font-weight: bold;
}
.register_btn{
	background-color: #3498db;

    color: rgba(0,0,0,0.8);
	margin-top:10px;
	margin-bottom:15px;
	padding:10px;
    width: 60%;
	font-size:16px;
	font-weight: bold;
	
}
.back_btn{
	margin-top:10px;
	color: white;
	margin-bottom:15px;
    padding: 10px;
    background-color: #e67e22;
}
.logout_button{
	background-color: #c0392b;
    color: white;
	margin-top:10px;
    padding:10px;
    width: 60%;
	font-size:18px;
	font-weight: bold;
}

.sign_up_btn {
	background-color: #3498db;
    color: white;
	padding:10px;
	margin-top:10px;
	margin-bottom:10px;
    width: 60%;
	font-size:16px;
	font-weight: bold;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 30%;
    border-radius: 50%;
}

.container {
    
    margin:140px;
	width:100%;
}	