body 
{
  background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-smart-robot-arm-advertising-background-backgroundrobotblue-backgrounddark-backgroundlightlight-image_68405.jpg' );
   background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
{
    color: #ffffff;
}
.heading{
    font-size: 30px;
    font-family: 'Lobster', cursive;
    text-align: center;
}

.bg{
 background: url('doctor.jpg') no-repeat; width: 100%; height: 100vh;

}
.myform{
    border: 1px solid #000000;
    padding: 30px 60px;
    margin-top: 20vh;
-webkit-box-shadow: 9px 2px 26px -7px rgb(0, 0, 0, 1);
-moz-box-shadow: 9px 2px 26px -7px rgb(0,0,0,1);
box-shadow: 9px 2px 26px -7px rgba(0, 0, 0, 1);
}

/**************************************************For signup.html page*******************************************************************/
 
.orlogin{
    text-align: center;
}
.cancel{
    padding: 16px;
    text-align: center;
    color: white;
   
}

/*.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancel {
      width: 100%;
    }
  }
    